/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.dusk.local
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
# No coverage reports
/reports
# No IDE project files and folders
/.fleet
/.idea
/.nova
/.vscode
/.zed
/nbproject
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
# NO eslint cache
.eslintcache
